{% extends "base.html" %}

{% block content %}
  <h1>
    Tag List
    <a style="float: right" class="btn btn-secondary text-white" href="{% url 'products:tag-create' %}">Create</a>
  </h1>
   <form  action="" method="get" class="text-white">
    {{ search_form.name }}
    <input type="submit" value="🔎" class="btn btn-outline-light">
  </form>
  {% if position_list %}
    <table class="table text-bold">
      <tr>
        <th>ID</th>
        <th>NAME</th>
        <th>UPDATE</th>
        <th>DELETE</th>
      </tr>
      {% for tag in tag_list %}
        <tr>
          <td>
            {{ tag.id }}
          </td>
          <td>
            <a href="{% url 'products:tag-detail' pk=tag.id %}">{{ tag.name }}</a>
          </td>
{#          <td>#}
{#            <a href="{% url 'company:position-update' pk=position.pk %}">Update</a>#}
{#          </td>#}
{#          <td>#}
{#            <a href="{% url 'company:position-delete' pk=position.pk %}">Delete</a>#}
{#          </td>#}
        </tr>
      {% endfor %}

    </table>
  {% else  %}
    <p>There are not tags in products</p>
  {% endif %}
{% endblock %}